.outer{
    
    width:90vw;
    border:2px solid green;
    margin:2vh auto;
}

.inner{
    margin-top:3vh ;
}

.mp{
    
    height:450px;
    display:flex;
    justify-content:center;
    align-items:center;
    height:45vh;
}

.image{
    height:444px;
    width:540px;
}

.description{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
    padding:4px;

}
