.College-image{
    height:20vh;
    width:99.5vw;
    overflow-x:hidden;
    overflow-y:hidden;
    border:4px solid red;

}



.Logo{
    /* box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5); */
    border-radius:5px;
    
    
    margin-top:2vh;
    width:40vw;
    margin-left:1vw;
    
    height:15vh;
    
}