.Navbar{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #4D6D9A;
    
    padding :1vh;
    

}


/* CSS */
/* Button Styles */
/* .button {
    color:black;
    border-right:1px solid black;
    padding:0.5rem;
    margin-left:2vw;

  } */

/* Button Styles */
/* Button Styles */
/* Button Styles */
.button {
    position: relative;
    display: inline-block;
    padding: 1vh;
    margin-right: 4.5vw;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
    border: none;
    overflow: hidden;
    border-right: 2px solid #ff8c00;
  }
  
  .button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #007bff; /* Blue color */
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: left; /* Originating from the left */
  }
  
  .button:hover::before {
    transform: scaleX(1);
    transform-origin: left; /* The line grows towards the right */
  }
  
  .button:hover {
    color: black; /* Change text color to navy blue on hover */
  }
  